<%= form_with(model: [@counting, area_assignment], class: "h-full flex flex-col place-content-between", id: "area_assignment_form") do |form| %>
  <div>

    <div class="my-5">
      <%= form.collection_select :counting_area_id,
                                  counting_areas,
                                  :id,
                                  :name
      %>
    </div>

    <div class="my-5">
    <%= form.collection_select :counting_signup_id,
                                  counting_signups,
                                  :id,
                                  :user_email
      %>
    </div>

  <div class="block">
    <%= form.submit class: "button button-primary button-medium w-full" %>
  </div>
<% end %>
