<%= turbo_frame_tag 'user_area_assignments' do %>
  <div>
    <%= turbo_frame_tag 'active_counting_area', src: counting_counting_area_path(@counting, @area_assignments.first.counting_area) %>
    <%== pagy_nav(@pagy, size: []) %>
  </div>
<% end %>