<div
  class="w-full h-full px-5 overflow-scroll"
>
  <div class="flex">
     <%= render(ButtonComponent.new(tag: :a, href: counting_path(@counting), scheme: :link, additional_classes: 'px-0')) do %>
      <- <%= @counting.title %>
    <% end %>
    <span>/</span>
    <h1 class="text-base font-medium py-2"><%= t('countees.index.title') %></h1>
  </div>
  <table class="w-full">
    <thead>
      <tr class="text-left font-normal">
        <th>Datetime</th>
        <th>District</th>
        <th>Gender</th>
        <th>Age group</th>
        <th class="text-right">Pet count</th>
      </tr>
    </thead>
    <tbody>
      <%= render @countees %>
    </tbody>
  </table>
</div>
