<div
  class="w-full h-full px-5 overflow-scroll"
>
  <div class="grid grid-cols-1 gap-2">
     <%= render(ButtonComponent.new(tag: :a, href: counting_path(@counting), scheme: :link, additional_classes: 'px-0')) do %>
      <- <%= @counting.title %>
    <% end %>
    <h1 class="text-2xl font-bold py-2"><%= t('countees.index.title') %></h1>
  </div>
  <ul>
  <% @countees.each do |countee| %>
    <%= render(CounteeCardComponent.new(created_at: countee.created_at, district: countee.district.name, gender: countee.gender.present? && countee.gender.label, age_group: countee.age_group.present? && countee.age_group.label, pet_count: countee.pet_count.present? && countee.pet_count, class: 'mt-3')) %>
  <% end %>
  </ul>
</div>
