<% content_for(:header_slot) {
    render ButtonComponent.new(scheme: :link, tag: :a, href: counting_path(@counting), class: 'p-0') do
      "â† #{@counting.title}"
    end
  }
%>

<div
  data-controller="countee"
  data-countee-maptiler-key-value="<%= Rails.application.credentials.publicly_visible_maptiler_key %>"
  class="w-full grid grid-rows-[200px_3fr] pb-8"
>
  <div
    id="map"
    data-turbo-permanent
    class="w-full h-full bg-blue-300"
  >
  </div>

  <div class="w-full h-full px-5 py-5">
    <h1 class="text-lg font-bold text-blue-200"><%= t('countees.new.title') %></h1>
    <div>
      <%= turbo_frame_tag 'user_area_assignments', src: user_counting_area_assignments_path(@counting, params: { counting_area_id: @area_assignment&.counting_area_id }) %>
    </div>
    <%= render "form", countee: @countee %>
  </div>
</div>
