<div class="px-5">
  <%= render(ButtonComponent.new(tag: :a, href: counting_path(@counting), scheme: :link, additional_classes: 'pl-0 pr-0')) do %>
    <%= "â† #{@counting.title}" %>
  <% end %>

  <h1 class="mt-3"><%= t('.title') %></h1>
</div>
<div class="mt-5 px-5">
  <%= render @people %>
</div>
