<% if resource.errors.any? %>
  <div id="error_explanation" class="mb-8">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <%= render partial: 'shared/flash', locals: { message: message, type: 'alert' } %>
      <% end %>
    </ul>
  </div>
<% end %>
