<div
  data-controller="language-switch"
  class="relative flex items-center z-10"
>
  <button 
    type="button"
    data-action="click->language-switch#toggle"
    class="pl-2 md:pl-5 flex items-center gap-x-2 transition-colors hover:text-white"
    aria-hidden="true"
  >
    <%= render(IconComponent.new(type: :language)) %>
    <span class="sr-only"><%= @label %></span>
  </button>
  <nav
    data-language-switch-target="nav"
    class="sr-only order-first w-full md:w-64 fixed top-14 right-0 bg-blue-100 px-5 py-4"
    aria-labelledby="language-select-label"
  >
    <p
      id="language-select-label"
      class="text-blue-400 tracking-wider text-xs font-medium uppercase pb-2 border-b border-b-blue-200"
      aria-hidden="true"
    >
      <%= @label %>
    </p>
    <ul class="mt-2 grid gap-2 text-blue-900 font-medium">
      <% language_links.each do |language_link| %>
        <li>
          <%= language_link %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
