<% content_for(:html_title) { t('views.counting.edit.title') + ' | ' + @counting.title } %>

<%= link_to 'â† ' + t('views.counting.cancel.title'), counting_path, class: 'no-underline mx-5 text-white hover:text-yellow-200' %>

<div class="mt-8 px-5">
  <h1><%= t('views.counting.edit.title') %></h1>

  <%= render "form", counting: @counting %>
</div>
