<%= turbo_frame_tag 'page' do %>
  <div class="mx-auto w-full">
    <h1><%= t('views.counting.edit.title') %></h1>

    <%= render "form", counting: @counting %>
    <%= link_to I18n.t('views.counting.cancel.title'), counting_path, data: { 'turbo-action': 'advance' } %>
  </div>
<% end %>
