<% content_for(:html_title) { t('countings.new.title') } %>

<div class="mt-4 px-5">
  <h1 class=""><%= t('countings.new.title') %></h1>

  <%= render "form", counting: @counting %>

  <%= render(ButtonComponent.new(tag: :a, href: countings_path)) do %>
    <%= t('countings.back.title') %>
  <% end %>
</div>
