<% content_for(:html_title) { t('views.counting.new.title') } %>

<div class="w-full">
  <h1 class=""><%= t('views.counting.new.title') %></h1>

  <%= render "form", counting: @counting %>

  <%= render(ButtonComponent.new(tag: :a, href: countings_path)) do %>
    <%= t('views.counting.back.title') %>
  <% end %>
</div>
