<%= turbo_frame_tag 'page' do %>
  <div class="mx-auto md:w-2/3 w-full">
    <h1 class=""><%= t('views.counting.new.title') %></h1>

    <%= render "form", counting: @counting %>

    <%= link_to I18n.t('views.counting.back.title'), countings_path, data: { 'turbo-action': 'advance' } %>
  </div>
<% end %>
