<% content_for(:html_title) { t('views.counting.new.title') } %>

<div class="w-full">
  <h1 class=""><%= t('views.counting.new.title') %></h1>

  <%= render "form", counting: @counting %>

  <%= link_to I18n.t('views.counting.back.title'), countings_path, class: 'secondary' %>
</div>
