<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render @counting %>

    <%= link_to 'Edit this counting', edit_counting_path(@counting), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this counting', counting_path(@counting), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to 'Back to countings', countings_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
