<div class="h-full w-full grid gap-0 grid-cols-[9fr_3fr]">
  <div
    id="map-root"
    data-controller="districts"
    data-districts-results-url-value="<%= counting_geolocations_url(@counting, format: :json) %>"
    data-districts-maptiler-key-value="<%= Rails.application.credentials.publicly_visible_maptiler_key %>"
    class="w-full h-full"
  >
  </div>
  <div class="py-5 px-6">
  <% @districts_with_stats.each do |district| %>
    <div class="flex justify-between mt-2 first-of-type:mt-0">
      <h3><%= district.name %></h3>
      <h4 class="text-2xl text-yellow-500"><%= district.people_count %></h4>
    </div>
  <% end %>
</div>
