<% type = 'notice' if local_assigns[:type].nil? %>

<% color_classes = type == 'alert' ? 'text-white bg-danger' : 'text-blue-900 bg-yellow-300' %>

<li
  class="px-5 py-2 font-medium <%= color_classes %>"
  <%# We need this flash item to not be cached by Turbo in order to not have it flash (pun not intended) later: %>
  data-turbo-cache="false"
>
  <%= message %>
</li>