<p><%= t('.greeting', recipient: @email) %></p>

<p><%= t('.instruction') %></p>

<p>
  <%= render(ButtonComponent.new(tag: :a, href: confirmation_url(@resource, confirmation_token: @token))) do %>
    <%= t('.action') %>
  <% end %>
</p>
