<div>
  <p class="inline bg-neutral-300 px-2 py-1 rounded-md">
    <%= @user.role.capitalize %>
  </p>
  <h1 class="mt-2 font-bold text-4xl">Welcome<% if @user.first_name %>
    <%= @user.first_name %>
  <% end %></h1>
  <p>Your email is:</p>
  <h2><%= @user.email %></h2>
  <%= link_to "Edit your profile", edit_user_registration_path %>
</div>
